# Server Port
PORT=5000

# Node Environment (development | production | test)
NODE_ENV=development

# MongoDB Connection String
# For local run: mongodb://localhost:27017/taskflow
# For Docker Compose: mongodb://mongodb:27017/taskflow
# For Kubernetes: mongodb://mongodb-service:27017/taskflow
MONGODB_URI=mongodb://localhost:27017/taskflow

# Frontend Allowed Origin (for CORS)
CORS_ORIGIN=*
